@font-face {
  font-family: "Canopee";
  src: url("../Fonts/Canopee/Canopee.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-Normal.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acid Grotesk";
  src: url("../Fonts/Acid%20Grotesk/AcidGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
